page-modal-add {
    p {
        text-align: center;
        font-size: 1.4em;
        font-weight: bold;
    };

    #message {
        font-size: 1.2em;
        color: red;
    }

    #form {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        text-align: center;

        ion-input, ion-label {
            font-weight: bold;
            text-align: center;
        }
        ion-label {
            font-size: 1.8em;
        }

        ion-input {
            input {
                font-size: 1.6em;
                border: 0px;
                border-bottom: 1px solid lightgray;
                text-align: center;
            }
            input::placeholder {
                font-size: 0.6em;
                font-weight: 500;
            }
        }
    }
}
