page-about {
    h1 {
        font-size: 4vh;
        font-weight: bold;
    }

    h3 {
        font-size: 3vh;
    }

    h4 {
        font-size: 2vh;
    }
    p {
        font-size: 2vh;
    }

    .main-icon {
        font-size: 15vh;
    }
}
