page-income {
    .message {
        text-align: center;
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    #sortSwitch{
        width: 75%;
        margin: 0 auto;
    }

    .instructions {
        text-align: center;
        font-size: 1.4em;
        font-weight: bold;
    }

    .delete-icon {
        font-size: 10vh;
    }

    .edit-icon {
        font-size: 10vh;
    }

    .income-card {
        background-color: darkgreen;
        border-radius: 5px;
        margin-top: 10px;
        border: 0px;
    }

    .name {
        font-size: 2em;
        color: gold;
        font-weight: bold;
        text-align: center;
    }

    .amount {
        font-size: 1.8em;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .totals {
        margin: 0 auto;
        text-align: center;
        font-size: 1.6em;
        border-radius: 10px;

        .label {
            font-weight: bold;
        }
        .value {
            font-weight: bold;
            color: darkgreen;
        }
    }
}
