page-overview {
    .head{
        text-align: center;
        font-weight: bold;
        color: gold;
        font-size: 4vh;
    }
    .amount{
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 5vh;
    }

    .card { 
        margin-top: 30px;
        border-radius : 15px; 
    }
        
}
