<ion-header>

  <ion-navbar color="darkRed">
    <ion-title text-center>Out Goings</ion-title>
    <ion-buttons right>
      <button ion-button (click)="addOutGoing()" icon-only outline color="light">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-toolbar *ngIf="showTotals">
    <div class="totals">
      <span class="label">Entries: </span>
      <span class="value">{{ numOfItems }} </span>
      <span class="label">Total: </span>
      <span class="value">{{ totalOutGoings | number:"1.2" }}</span>
    </div>
  </ion-toolbar>
  <div *ngIf="message">
    <p class="message">{{ message }}</p>
  </div>
  <div *ngIf="!message">
    <p class="instructions">Swipe an entry left or right to delete or edit it.</p>
  </div>

  <ion-list>
    <div *ngIf="showSort" id="sortSwitch">
      <ion-row>
        <ion-col>
          <ion-segment [(ngModel)]="sortBy" color="darkRed">
            <ion-segment-button value="name" (ionSelect)="onSortByName()">
              Name
            </ion-segment-button>
            <ion-segment-button value="amount" (ionSelect)="onSortByAmount()">
              Amount
            </ion-segment-button>
            <ion-segment-button value="date" (ionSelect)="onSortByDate()">
              Added On
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-label>Ascending Order:</ion-label>
            <ion-toggle checked="" [(ngModel)]="sortAsc" (ionChange)="sortOrder()"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngFor="let item of outGoings">
      <ion-item-sliding #slidingItem>
        <ion-item no-lines>
          <ion-card class="outgoings-card">
            <ion-card-header>
              <p class="name">{{ item.name }}</p>
            </ion-card-header>
            <ion-card-content>
              <p class="amount">{{ item.amount | number:"1.2"}}</p>
              <p class="date">{{item.date | date:'longDate'}}</p>
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button icon-only clear color="dark" (click)="onDeleteOutGoing(item.id, slidingItem)">
            <ion-icon name="md-trash" class="delete-icon"></ion-icon>
          </button>
        </ion-item-options>

        <ion-item-options side=" right ">
          <button ion-button clear icon-only color="dark" (click)="onEditOutGoing(item.id, item.name, item.amount)">
            <ion-icon name="md-brush" class="edit-icon "></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
</ion-content>