page-outgoings {
    .message {
        text-align: center;
        font-size: 3vh;
        margin-bottom: 10px;
    }

    .instructions {
        text-align: center;
        font-size: 2vh;
        font-weight: bold;
    }
    .delete-icon {
        font-size: 10vh;
    }

    .edit-icon {
        font-size: 10vh;
    }

    .outgoings-card {
        background-color: darkred;
        border-radius: 5px;
        margin-top: 10px;
    }

    .name {
        font-size: 3vh;
        color: gold;
        font-weight: bold;
        text-align: center;
    }

    .amount {
        font-size: 3vh;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .totals {
        margin: 0 auto;
        text-align: center;
        font-size: 3vh;
        border-radius: 10px;

        .label {
            font-weight: bold;
        }
        .value {
            font-weight: 100;
        }
    }

}